{% extends 'base.html' %}
{% block content%}

<div class="container bg-light">
<div class="rwo d-flex justify-content-center">
    <div class="col-md-6">
       
        <div class="card">
         <div class="card_header" style="background-color: rgb(66, 114, 203);">
             <h3 class="text-center">تسجيل الدخول</h3>
         </div>
         <div class="card_body">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">اسم المستخدم</label>
                    <input type="text" class="form-control" name="username">
                </div>
                  <div class="mb-3">
                    <label class="form-label">كلمه السر</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success">تسجيل الدخول</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>ليس لديك حساب؟<a href="{%url 'authRegister' %}"> اضغط هنا</a></p>
                    </div>
                </div>
            </from>
         </div>
        </div>
    </div>
</div>
</div>
{%endblock%}